<%
var variables = variables;
var commonVar = commonVar;
id = filename.slice(filename.lastIndexOf("\\") + 1).replace(/\.ejs/g, ''); //PC内の絶対パスで最後の\の位置+1(=パスなしファイル名)から末尾までの文字列を切り取り、".ejs"の4文字を取り除く=拡張子なしのファイル名
%><%- include("util/_year", { variables, id }) %><%- include("util/_headset", { variables, id }) %>
<!DOCTYPE html>
<html lang="ja">
<head>
<%- include("partial/_head", { variables, id, commonVar, metaTitle, metaDescription, metaOgpimage }) %>
</head>
<body class="<%= id %>Page" id="<%= id %>Page">

<div id="wrapper">
<%- include("partial/_header", { variables, id, commonVar }) %>

<%- include("partial/_eyecatch", { variables, id }) %>

    <!-- main -->
    <main class="main <%= id %>">
<%- include("partial/_breadcrumb", { variables, id }) %>
        <section class="about_container">
            <h2>What's this page? <small>About page</small></h2>
            <h3>名前の由来</h3>
            <p>gulpを使っている方はgulpが飲み込む、ごくごくと飲むという意味(だからシェイクのロゴなのですね)なので、大祓詞で穢れを飲み込む<ruby>
                速開津比売<rp>(</rp><rt>はやあきつひめ</rt><rp>)</rp>
            </ruby>神からお名前をお借りしました。</p>
        </section>
    </main>
    <!-- /main -->

<%- include("partial/_footer", { variables, id, copyRightYear }) %>

</div>

<script src="/js/lib.min.js"></script>
<script src="/js/<%= variables.param[id].js %>.js"></script>
</body>
</html>